@font-face {
    font-family: 'Inder';
    src: url('Inder-Regular.eot');
    src: local('Inder'), local('Inder-Regular'),
        url('Inder-Regular.eot?#iefix') format('embedded-opentype'),
        url('Inder-Regular.woff2') format('woff2'),
        url('Inder-Regular.woff') format('woff'),
        url('Inder-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}